div.basic-info{
    text-align: center;
}
img.profile-picture {
  border-radius : 100%;
}
div.d-flex.justify-content-between div{
    padding: 10px;
}
div.skill{
    background-color: #ced4da;
    padding: 5px;
    margin: 10px;
    border-radius :5px;
}

div.result div.card{
    margin: 10px;
    min-width: 530px;
}