{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block header %} Search {% endblock %}
{% block body %}

<div class="jumbotron my-2">
    <form action="" method="get">
    <div class="row">
        <div class="col-md-3 mb-3">
            <input name="name" type="text" class="form-control" value="{{ search_param.name }}" placeholder="Name">
        </div>
        <div class="col-md-3 mb-3">
            <input name="family" type="text" class="form-control" value="{{ search_param.family }}" placeholder="Family">
        </div>
        <div class="col-md-3 mb-3">
            <input name="age" min="1" type="number" class="form-control" value="{{ search_param.age }}" placeholder="Age">
        </div>
        <div class="col-md-3 mb-3">
            <select name="gender" class="form-control">
                <option  selected disabled>Gender</option>
                {% for gender in genders %}
                    <option value="{{ gender.id }}"
                            {% if gender.id|slugify  == search_param.gender %}
                            selected
                            {% endif %}
                    >{{ gender.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <select name="education" class="form-control">
                <option  selected disabled>Education</option>
                {% for education in educations %}
                    <option value="{{ education.id }}"
                        {% if education.id|slugify  == search_param.education %}
                            selected
                        {% endif %}
                    >{{ education.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <select name="skill" class="form-control">
                <option  selected disabled>Skill</option>
                {% for skill in skills %}
                    <option value="{{ skill.id }}"
                        {% if skill.id|slugify  == search_param.skill %}
                            selected
                        {% endif %}
                    >{{ skill.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <input name="company_count" min="0" type="number" class="form-control"
                   value="{{ search_param.company_count }}" placeholder="Company count">
        </div>
        <div class="col-md-3 mb-3">
            <select name="working_now" class="form-control">
                <option  selected disabled>Working now</option>
                <option value="1"
                    {% if search_param.working_now == "1"%}
                        selected
                    {% endif %}
                >Working</option>
                <option value="0"
                        {% if search_param.working_now == "0"%}
                        selected
                    {% endif %}
                >Free</option>
                <option value="-1"
                        {% if search_param.working_now == "-1"%}
                        selected
                    {% endif %}
                >Unknown</option>
            </select>
        </div>
    </div>

    <input type="submit" class="btn btn-success form-control" value="Search">
    </form>
</div>
    <div class="row result">
        <div class="d-flex flex-wrap">
            {% for doctor in doctor_list %}
                <div class="card">
                    <div class="card-header">
                        <strong>{{ doctor.name }} {{ doctor.family }}</strong>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <a href="#"><img class="" src="{{ doctor.picture.url }}" alt="{{ doctor.family }}" height="100"></a>
                            <div>
                                <strong>Age: </strong>
                                {{ doctor.age }}
                            </div>
                            <div>
                                <strong>Sex: </strong>
                                {{ doctor.sex }}
                            </div>
                            <div>
                                <strong>Last Education: </strong>
                                {{ doctor.doctor_education.last.education }}
                            </div>

                        </div>
                    </div>
                </div>
         {% endfor %}
        </div>
    </div>


{% endblock %}